.dashboard-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  width: 100%; /* Updated this to 100% so it takes the full width of its parent */
  box-sizing: border-box;
}

.welcome-message h1 {
  font-size: 3rem;
  margin-top: 4rem;
}

.dashboard-link:hover {
  text-decoration: none;
  color: red;
}

.icon {
  margin-bottom: 10px;
}

/* Assuming .dashboard-container is the parent container for the .dashboard-option items */
.dashboard-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

@media only screen and (max-width: 768px) {
  .dashboard-option {
    width: 100%;
  }
}
