.courses-hero-section-lg {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding: 40px;
  background-image: url("../../assets/courses-hero-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  color: white;
}

.courses-hero-section-lg h1 {
  font-size: 2.5rem;
  text-decoration: underline;
}

.courses-hero-section-lg h2 {
  font-size: 3rem;
}

.courses-hero-section-lg p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 3px rgb(214, 15, 15);
  color: rgb(255, 136, 0);
}

.list-container {
  max-width: 80%;
  margin: 0 auto;
}

.course-image {
  max-height: 250px;
  min-height: 250px;
  width: 400px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .courses-hero-section-lg {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../../assets/courses-hero-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white;
  }

  .courses-hero-section-lg h1 {
    font-size: 1.4rem;
    text-decoration: underline;
  }

  .courses-hero-section-lg h2 {
    font-size: 1.5rem;
  }

  .courses-hero-section-lg p {
    font-size: 0.9rem;
    text-shadow: 1px 1px 3px rgba(214, 15, 15);
    color: rgb(255, 136, 0);
  }
}
