.about-wrap {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
  padding-top: 3rem;
}

.about-text-section h1 {
  text-decoration: underline;
}

.about-text-section p {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .about-wrap {
    max-width: none;
  }

  .about-text-section p {
    font-size: 0.8rem;
  }
}
