.register-view {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: calc(100vh - 500px);
  min-width: 60%;
  justify-content: center;
  align-items: center;
}

.register-container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 50vh;
  max-width: 500px !important;
  margin: 0 auto;
  background-color: rgba(121, 117, 117, 0.8);
  padding: 20px;
  border-radius: 10px;
}

label {
  margin-top: 10px;
}

.register-button {
  margin-top: 10px;
  float: right;
}

/* For larger screens */
@media (max-width: 769px) {
  .register-container {
    min-width: none;
    margin: 0 auto;
    margin-bottom: 200px;
  }
}
