.register-view {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  min-width: 60%;
  justify-content: center;
  align-items: center;
}

.register-container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 100vh;
  background-color: rgba(121, 117, 117, 0.8);
  padding: 20px;
  border-radius: 10px;
}

label {
  margin-top: 10px;
}

.register-button {
  margin-top: 10px;
  float: right;
}

/* For larger screens */
@media (min-width: 769px) {
  .register-view .register-container {
    width: 50% !important;
    margin: 0 auto;
  }

  .register-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .register-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(121, 117, 117, 0.8);
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    max-height: 100vh;
    overflow: hidden;
  }
}
